@font-face {
  font-family: "iconfont"; /* Project id 2243911 */
  src: url('./icon/iconfont.woff2?t=1638453946622') format('woff2'),
       url('./icon/iconfont.woff?t=1638453946622') format('woff'),
       url('./icon/iconfont.ttf?t=1638453946622') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconzhuce:before {
  content: "\e683";
}

.iconjiantou_xiangyouliangci:before {
  content: "\eb09";
}

.iconjiaofutushu:before {
  content: "\e618";
}

.icondenglu:before {
  content: "\e653";
}

.iconicon:before {
  content: "\e652";
}

.iconyanjing-:before {
  content: "\e61c";
}

.iconicon3:before {
  content: "\e67f";
}

.iconmulu:before {
  content: "\e602";
}

.iconbiaoqian:before {
  content: "\e693";
}

.iconriqi:before {
  content: "\e663";
}

.iconriqi1:before {
  content: "\e620";
}

.iconwoxiezuoye:before {
  content: "\e6e2";
}

.icontaiyang1:before {
  content: "\e601";
}

.iconi:before {
  content: "\e66b";
}

.iconyueliang:before {
  content: "\e616";
}

.iconxia:before {
  content: "\e617";
}

.iconsearch_hisotry:before {
  content: "\e600";
}

